<%- include('./partials/header') %>
<div class="container">
    <form class="mt-5">
        <div class="form-group">
            <label for="search">Mini Youtube</label>
            <input class="form-control" id="search">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div id="videos">

            </div>
        </div>
    </div>

    <ul class="mt-5">
        <% data.forEach(item => { %>
        <li> <%= item.firstName%> </li>
        <% }) %>
    </ul>
</div>